@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: #ecf6f8;
  overflow-x: hidden; 
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}


/* Style for sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #0292b7;
  padding: 25px 20px;
  transition: all 0.4s ease;
  z-index: 1000;
}

.sidebar:hover {
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 42px;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #0d3d69;
  transform: translateY(-50%);
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links li {
  flex: 0 0 auto; 
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 13px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #0d3d69;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  position:absolute;
  bottom: 0;
  width: 90%;
  margin-bottom: 20px;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  color: #0292b7;
  margin-left: 12px;
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}

.main {
  margin-left: 85px;
  padding: 20px;
  transition: margin-left 0.4s ease;
  overflow-x: hidden; 
}

.sidebar:hover ~ .main {
  margin-left: 260px;
}


.main header {
  margin-bottom: 20px;
}

.main h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #1d9ab9;
}

/*sidebar toggle*/
.nav__toggle{
    height: 32px;
    width: 36px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.5rem;
    border-radius: .25rem;
    color: #0292b7;
    display: none;
    justify-content: center;
    align-items: center;
}

.uil-bars{
  font-size: 1.8rem;
}

.nav__close{
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
}

.sidebar.show-sidebar {
    width: 260px; /* width when hovered */
}
  
.sidebar.show-sidebar .sidebar-links h4 span {
    opacity: 1;
}
  
.sidebar.show-sidebar .sidebar-links .menu-separator {
    transform: scaleX(0);
}

/*style for overview*/
.overview {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 30px;
}

.card {
  background: #fff;
  padding: 40px;
  height: 220px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 1 1 calc(33.333% - 20px);
  transition: background 0.2s ease, color 0.2s ease;
  display: flex;
  align-items: center; 
  text-align: left;
  gap: 15px; 
}

.card-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}

.text-content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  color: #046c86;
}

.card img {
  width: 180px;
  height: auto; 
  opacity: 0.7;
  object-fit: cover; 
  border-radius: 8px; 
}

.card:hover {
  background: #52abc2;
  color: #fff;
}

.card:hover h3,
.card:hover p {
  color: #fff;
}

.card h3 {
  font-size: 25px;
  font-weight: 600;
}

.card p {
  font-size: 60px;
  font-weight: 700;
  color: #0292b7;
}

/* style for quick-links*/
.quick-links h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0292b7;
    margin-bottom: 20px;
  }
  
  .quick-links ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 10px; 
    flex-wrap: wrap; 
  }
  
  .quick-links ul li {
    margin-bottom: 0;
  }
  
  .quick-links ul li a {
    color: #ffffff;
    text-decoration: none;
    background: #0292b7;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .quick-links ul li a:hover {
    background: #046c86;
  }

  /* Style for profile */
.profile {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin-bottom: 0;
}

.profile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/book.png');
  background-size: contain;
  opacity: 0.7;
}

.profile-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
}

/* style for nurse-profile */
.nurse-profile {
  position: relative; 
  width:500px;
  margin-left: 80px;
  margin-top: 50px; 
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgb(47, 47, 47);
  max-width: 800px;
}

.nurse-profile h2 {
  color: #0292b7;
  font-size: 30px;
}

.nurse-profile .profile-info {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.nurse-profile .profile-info img {
  margin-right: 20px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nurse-profile .admin-details p {
  margin: 0 0 10px 0;
  color: #0292b7;
  font-size: 18px;
}

.nurse-profile .admin-details p strong {
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
  color: #0292b7;
}

/* Style for patient-profile */
.profile-container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 20px; 
  width: 100%; 
  padding: 10px; 
}

.patient-profile {
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.patient-profile h2 {
  color: #0292b7;
  font-size: 22px;
}

.patient-profile .profile-info {
  margin-top: 10px;
}

.patient-profile .patient-details p {
  color: #0292b7;
  font-size: 18px;
  margin-bottom: 10px;
}

.patient-profile .patient-details p strong {
  font-weight: bold;
  color: #0292b7;
}

/* Style for info-btns */
.info-btn ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.info-btn ul li {
  margin-top: 10px; 
}

.info-btn ul li a {
  color: #ffffff;
  text-decoration: none;
  background: #0292b7;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block; /* Ensure buttons take full width */
}

.info-btn ul li a:hover {
  background: #046c86;
}


/* style for search|books*/
.search {
    margin-top: 6px;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #52abc2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .search p {
    color: #ffffff;
    font-size: 20px;
  }
  
  .search input, .search select {
    padding: 10px;
    margin-left: 10px;
  }
  
  #searchInput {
    width: 700px;
    padding: 8px;
    border-radius: 8px;
    background: #ffffff;
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
    border: 1px solid #7c7b7b;  
  }
  
  #searchIcon {
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
  }
  
  .btn-2 {
    font-size: 15px;
    padding: 7px 10px;
    border-color: #0292b7;
    border-radius: 3px;
    cursor: pointer;
    color: #046c86;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
    text-decoration: none;
  }
  
  .btn-2:hover {
    color: #ffffff;
    background-color: #046c86;
  }
  
  .search-icon{
    color: #ffffff;
    font-size: 20px;
    margin-right: 5px;
  }
  

  /*style for search-result section*/
  .search-result {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box; 
    background-color: #ffffff;
    border-radius: 10px;
    overflow: auto;
}
  
  .search-result h1{
    margin-left: 30px;
    font-size: 18px;
    color: #a8a6a0;
    font-weight: normal;
  }
  
  .search-result hr{
    margin-top: 10px;
    margin-left: 20px;
    width: 95%;
  }
  
  .search-result .box-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
    margin-bottom: 45px;
  }
  
  .btn {
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s ease;
    background-color: #52abc2;
    color: white;
  }

  .btn:hover {
    background-color: #0292b7;
  }

  .btn-icon {
    display: none; 
}

/* Style for Tables */
table {
  margin: 20px auto;
  font-size: 17px;
  border: solid #051D40 2px;
  background-color: #FFF;
  border-radius: 15px;
  border-collapse: collapse;
  width: 100%;
}

table td {
  padding: 3px 4px;
  text-align: center;
  border-bottom: 2px solid #051D40;
  color: #0292b7;
}

.tblheader {
  color: #051D40;
}

table tr:nth-of-type(even) {
  background-color: #ffffff; 
}

table tr:nth-of-type(odd) {
  background-color: #ecf6f8; 
}


.td-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for  form */
.kardex, .IntakeOutput, .vitalSigns,
.IVfluid, .nurseNotes, .standingOrder,
.medRecord, .TPR , .nurseSched, .addPatient,
.roomManage{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kardex h1, .IntakeOutput h1, .vitalSigns h1,
.IVfluid h1, .nurseNotes h1, .standingOrder h1,
.medRecord h1, .TPR h1, .nurseSched h1, .addPatient h1,
.roomManage h1{
  text-align: center;
  margin-bottom: 20px;
  background-color: #0292b7;
  border-radius: 8px; 
  color: #ffffff;
  padding: 10px;
}

.kardex h2, .IntakeOutput h2, .TPR h2{
  text-align: center;
  margin-top: 20px;
}

.TPR h2{
  margin-bottom: -20px;
}

.medRecord h3{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
  color: #0292b7;
}

.form-container {
  width: 100%;
  position: relative; 
}

.form-container form {
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.auto-input {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.form-row-container {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.kardex .form-row-container:nth-of-type(2),
.kardex .form-row-container:nth-of-type(3),
.kardex .form-row-container:nth-of-type(4),
.kardex .form-row-container:nth-of-type(7),
.kardex .form-row-container:nth-of-type(9),
.IntakeOutput .form-row-container:nth-of-type(2),
.vitalSigns .form-row-container:nth-of-type(2),
.IVfluid .form-row-container:nth-of-type(2),
.IVfluid .form-row-container:nth-of-type(3),
.IVfluid .form-row-container:nth-of-type(4),
.nurseNotes .form-row-container:nth-of-type(2),
.standingOrder .form-row-container:nth-of-type(2),
.medRecord .form-row-container:nth-of-type(2),
.medRecord .form-row-container:nth-of-type(3),
.medRecord .form-row-container:nth-of-type(4),
.roomManage .form-row-container:nth-of-type(2),
.roomManage .form-row-container:nth-of-type(3),
form.nurseSched, form.addPatient, form.roomManage{
  padding-bottom: 50px; 
}

.form-group-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  width: 100%; 
}

/* styling for date input and combined text input */
.form-row-container .form-group {
  flex: 1;
  margin-right: 20px;
  box-sizing: border-box;
  position: relative;
}

.form-row-container .form-group:last-child {
  margin-right: 0;
}

.form-row-container .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-row-container .form-group input,
.form-row-container .form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  min-width: 80px;
}

/* Styling for textarea */
.form-group textarea, td textarea {
  width: 100%; 
  min-height: 100px; 
  min-width: 120px;
  resize: none;  
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box; 
}

/* Styling for shorter input fields */
.form-group.short {
  flex: 1;
  min-width: 120px;
  max-width: 200px; 
}

.form-group.short input,
.form-group.short select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  min-width: 80px;
}

/* Style for input label and suffix*/
.form-group .input-container {
  position: relative;
}

.form-group .input-container input {
  padding-right: 40px; 
}

.form-group .input-container .input-label {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #666;
}

/* Styles for checkbox section */
.form-row-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.checkbox-group label {
  display: block;
  font-weight: bold;
}

.checkbox-group .checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-group .checkboxes input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.8);
}

.checkbox-group .checkboxes label {
  display: flex;
  align-items: center;
  margin-top: 0;

}

.checkbox-group.row .checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -10px;
}

.checkbox-group.options .checkboxes {
  flex-direction: row;
}

.auto-cb{
  margin-top: 18px;
}



 /* styles for the add_remove icon */
 .remove-row-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.add-row-button {
  position: absolute;
  bottom: 10px; 
  left: 10px; 
  background-color: #0292b7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  z-index: 10;
  align-items: center;
}

.add-row-button i {
  font-size: 1rem;
  color: #ffffff;
  margin-right: 5px;
}

.remove-row-button i {
  color: #940a0a;
  font-size: 1.5rem;
  padding-left: 5px;
  margin-top: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.remove-row-button {
  margin-left: auto;
}

/*style for submit btn*/
.submit-btn {
  position: absolute;
  bottom: 10px; 
  right: 30px; 
  background-color: #0292b7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px;
  width: 120px;
  cursor: pointer;
  font-size: 15px;
  z-index: 10;
  text-align: center;
}

.submit-btn:hover {
  background-color: #036983;
}

/* style for form btn*/
.form-actions {
  margin-top: 20px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}
.form-actions button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.form-actions button.save {
  background-color: #28a745;
  color: white;
}
.form-actions button.save:hover {
  background-color: #218838;
}
.form-actions button.edit {
  background-color: #007bff;
  color: white;
}
.form-actions button.edit:hover {
  background-color: #0056b3;
}

/*style for vital sign table*/
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
  border: none;
}

th, td {
  padding: 6px;
  text-align: center;
  border: 1px solid #cac9c9; 
}


th.title {
  font-size: 1.5rem; 
  color: #333; 
}

.header-row th {
  font-size: 13px; 
  background-color: #f4f4f4; 
}

.vitalSigns table input[type="text"], .vitalSigns table input[type="date"], 
.vitalSigns table input[type="time"], .vitalSigns table input[type="number"],
.IntakeOutput table input[type="text"], .IVfluid table input[type="text"],
.nurseNotes table input[type="text"], .standingOrder table input[type="text"],
.medRecord table input[type="text"], .TPR table input[type="text"], 
.nurseSched table input[type="text"], .roomManage table input[type="text"], table select{
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  font-size: .9rem;
  background-color: #fff;
  min-width: 80px;
  text-align: center;
}

td input[type="datetime-local"], td input[type="date"], 
td input[type="time"], td input[type="number"] {
  width: 100%; 
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc; 
  border-radius: 4px;
  text-align: center;
}

.medRecord h4{
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.medRecord p{
  text-align: center;
  font-size: 14px;
  padding: 0 50px;
  margin-bottom: -25px;
}

.medRecord span{
  font-weight: bold;
}
















  /* For Large Devices (1408px and below) */
@media screen and (max-width: 1408px) {
    .main {
      margin-left: 100px;
    }
    .main header {
      margin-bottom: 15px;
    }

    .nurse-profile {
      margin-left: 60px;
      padding: 30px;
    }
  
    .nurse-profile h2 {
      font-size: 28px;
    }

  }
  
  /* For Medium Devices (1216px and below) */
  @media screen and (max-width: 1216px) {
    .main {
      margin-left: 90px;
    }
    .main header {
      margin-bottom: 15px;
    }

    .nurse-profile {
      margin-left: 50px;
      padding: 25px;
    }
  
    .nurse-profile h2{
      font-size: 26px;
    }

    #searchInput {
      width: 500px;
      }
  }
  
  /* For Medium Devices (1024px and below) */
  @media screen and (max-width: 1024px) {
    .main {
      margin-left: 80px;
    }
    .main header {
      margin-bottom: 10px;
    }

    .quick-links ul li {
        margin-bottom: 20px;
    }

    .nurse-profile {
      margin-left: 40px;
      padding: 20px;
    }
  
    .nurse-profile h2,
    .patient-profile h2 {
      font-size: 24px;
    }
  
  }

  @media screen and (max-width: 852px){
    .main h1 {
      font-size: 1.5rem;
    }

    .search-result h1{
      font-size: 15px;
     }

    #searchInput {
      width: 400px;
      font-size: 12px;
    }

    .btn-2{
       font-size: 13px;
    }

    table tr{
      font-size: 14px;
    }

    .btn{
      font-size: 13px;
   }

   .form-group {
    flex: 1 1 100%;
    margin-bottom: 10px;
}

.form-group.short {
    min-width: 100px;
    max-width: 100%;
}

  }
  
  /* For Small Devices (768px and below) */
  @media screen and (max-width: 768px) {
    .sidebar {
        width: 85px;
        transform: translateX(-100%);
        z-index: 999;
      }

    .show-sidebar{
        transform: translateX(0);
    }

    .nav__close{
        display: block;
    }

    .nav__toggle{
        display: flex;
        right: initial;
        left: 1.5rem;
        top: 1.7rem;
        z-index: 10;
    }

    .search {
      margin-top: 20px;
    }

    .search-result h1{
      font-size: 13px;
     }

    .search-result .box-container{
      margin: 0;
    }

    .btn{
      font-size: 10px;
   }

    .main {
      margin-left: 0;
    }

    .main header h1{
      margin-top: 8px;
      text-align: center;
    }

    .quick-links ul li {
      margin-bottom: 15px;
    }

    .card {
        width: 240px;
      }

    .card h3 {
        font-size: 20px;
 
    }
      
    .card p {
        font-size: 40px;
    }

    .nurse-profile {
      margin-left: 20px;
      padding: 15px;
    }
  
    .nurse-profile h2,
    .patient-profile h2 {
      font-size: 22px;
    }
  
    .nurse-profile .profile-info img {
      width: 90px;
      height: 90px;
    }
  
    .nurse-profile .admin-details p,
    .patient-profile .patient-details p,
    .nurse-profile .admin-details p strong,
    .patient-profile .patient-details p strong {
      font-size: 16px;
    }

    .profile-container {
      grid-template-columns: 1fr;
      gap: 30px; 
    }

    .kardex, .IntakeOutput, .vitalSigns,
    .IVfluid, .nurseNotes, .standingOrder,
    .medRecord, .TPR , .nurseSched, .addPatient,
    .roomManage{
      margin-top: 50px;
    }
    
  }

  @media screen and (max-width: 728px){
    #searchInput {
      width: 300px;
      font-size: 10px;
    }

    .search-icon{
      font-size: 16px;
    }
    
    .btn-2{
       font-size: 11px;
    }

    table tr{
      font-size: 12px;
    }
  }

  @media screen and (max-width: 612px){   
    .search-result h1{
      font-size: 12px;
     }

    #searchInput {
      width: 200px;
      font-size: 10px;
    }

    .search-icon{
      font-size: 14px;
    }

    .btn-2{
       font-size: 11px;
    }

    table tr{
      font-size: 11px;
    }
  }
  
  /* For Extra Small Devices (576px and below) */
@media screen and (max-width: 576px) {
  .btn {
    display: none; 
  }

  .btn-icon {
    display: inline-block; 
    background: none; 
    border: none; 
    padding: 0; 
  }

  .btn-icon i {
    font-size: 1.5em; 
    color: #52abc2; 
  }

  .btn-icon i:hover {
    color: #0292b7; 
  }

  .main {
    margin-left: 0; 
  }

  .nav__toggle {
    right: initial;
    left: 1.5rem;
  }

  .quick-links ul li {
    margin-bottom: 15px;
  }

  .nurse-profile {
    margin-left: 10px;
    padding: 10px;
  }

  .nurse-profile h2,
  .patient-profile h2{
    font-size: 20px;
  }

  .nurse-profile .profile-info img {
    width: 80px;
    height: 80px;
  }

  .nurse-profile .admin-details p,
  .patient-profile .patient-details p,
  .nurse-profile .admin-details p strong,
  .patient-profile .patient-details p strong  {
    font-size: 15px;
  }

}

  @media screen and (max-width: 500px){
    .uil-bars{
      font-size: 1.5rem;
    }

    .main header h1 {
      font-size: 1rem;
      margin-top: 13px;
    }

    .search-result h1{
      font-size: 10px;
     }

    #searchInput {
      width: 150px;
      font-size: 7px;
    }

    .btn-2{
       font-size: 8px;
    }

    .btn-icon i{
      font-size: 14px;
   }

    table tr{
      font-size: 8px;
    }

    .form-row {
      flex-direction: column; 
    }
  
    .form-group {
      width: 100%;
      margin-right: 0; 
      margin-bottom: 10px;
    }
  
    .remove-row-button {
      align-self: flex-end;
    }

     .vitalSigns table input[type="text"], .vitalSigns table input[type="date"], 
     .vitalSigns table input[type="time"], .vitalSigns table input[type="number"],
     .IntakeOutput table input[type="text"], .IVfluid table input[type="text"],
     .nurseNotes table input[type="text"], .standingOrder table input[type="text"],
     .medRecord table input[type="text"], .TPR table input[type="text"], 
     .nurseSched table input[type="text"], .roomManage table input[type="text"], table select{
       font-size: .7rem;
      }

     td input[type="datetime-local"], td input[type="date"], 
     td input[type="time"], td input[type="number"] {
        font-size: .7rem;
    }

     h2{
     font-size: 1rem;
    }
  }
  
  /* For Tiny Devices (350px and below) */
  @media screen and (max-width: 365px) {
    .main {
      margin-left: 0;
    }

    .main header h1 {
      font-size: 1rem;
      margin-top: 13px;
    }

    .btn-2{
      font-size: 7px;
    }

    .search-icon{
      font-size: 10px;
    }

    .quick-links ul li {
      margin-bottom: 20px;
      font-size: 0.875rem;
    }
 
    .card h3 {
        font-size: 14px;
    }
  
    .card p {
        font-size: 20px;
    }

    .nurse-profile {
      margin-left: 5px;
      padding: 5px;
    }
  
    .nurse-profile h2,
    .patient-profile h2{
      font-size: 18px;
    }
  
    .nurse-profile .profile-info {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nurse-profile .profile-info img {
      width: 70px;
      height: 70px;
    }
  
    .nurse-profile .admin-details p,
    .patient-profile .patient-details p,
    .nurse-profile .admin-details p strong,
    .patient-profile .patient-details p strong {
      font-size: 12px;
    }

  }
  